body {
    font-family: 'Roboto', sans-serif;
    background-color: #48dbfb;
    max-width: 100vw;
}

/* barra de navegação */
.navbar {
    background-color: rgba(52, 31, 151, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
    color:#00d2d3;
}

.nav .nav-link:hover {
    background-color: #222f3e;
    color: #00d2d3;
}

.nav .nav-link {
    color: black;
    font-size: 1.1rem;
}

.navbar-brand:hover {
    color: white;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.ele {
    color: rgb(95, 206, 95);
}

.ele2 {
    color: rgb(197, 42, 60);
}

.navbar-toggler {
    background-color: #00d2d3;
}

/* seção sobre */
#sobre {
    background-color: transparent;
    color: #222f3e;
    align-items: center;
}

#sobre img {
    max-height: 340px;
}

#sobre h2 {
    color:#222f3e;
}

.pix {
    color: #222f3e;
    font-family: 'Pacifico', cursive;
}

.pix2 {
    color: #222f3e;
}

/* seção categorias */
#categorias {
    background-color: rgba(95, 39, 205, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
    color: #222f3e;

}

.section-title {
    color: #222f3e;
    font-weight: 600;
}

.cardcat i {
    color: #48dbfb;
}

.categoriah3 {
    color: #341f97;/*dd*/
    font-size: 22px;
    margin-top: 12px;
    font-weight: 600;
}

.textop {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
}

.cardcat:hover {
    background-color: rgba(34, 47, 62, 0.6);
    transform: scale(1.03);
}

.cardcat p {
    margin-bottom: 0;
}

#service {
    color: #222f3e;
}

/* barra lateral */
aside {
    font-size: 16px;
    width: 100%;
    font-weight: 600;
}

.nav-service .nav-link-active {
    background-color: #222f3e;
    color: #00d2d3;
    border-radius: 8px;
}

.nav-service .nav-link:hover {
    background-color: rgba(34, 47, 62, 0.6);
    transform: scale(1.03);
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
}

/* tab content */
.card {
    background-color: rgba(248, 250, 249, 0.6);
    backdrop-filter: blur(10px);
    /* Ajuste o valor do desfoque conforme necessário */
    color: #222f3e;
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    background-color: rgba(34, 47, 62, 0.6);
    transform: scale(1.03);
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
}

.titulo-card{
    font-weight: 16px;
}

.preco {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 0;
}

#contato button {
    background-color: #25D366;
    color: #222f3e;
}

#contato button:hover {
    transform: scale(1.04);

}

#contato {
    background-color: rgba(8, 9, 70, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
    color: #222f3e;
}

.formu {
    color: #00d2d3;
}
.form-control:focus {
    border-color: #00d2d3; /* Cor de destaque quando em foco */
    box-shadow: 0 0 0 0.2rem rgba(6, 98, 236, 0.3); /* Sombra de destaque */
    outline: 0; /* Remova a borda de destaque padrão no Firefox */
}

.mail {
    color: white;
}

.mail:hover {
    transform: scale(1.03);
}


#sl {
    margin-top: 8%;
}

footer {
    font-size: 14px;;
}

/*ajustes animação bolhas*/
.dot {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 235, 59, 0.3);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgba(217, 248, 160, 0.2);
    overflow: hidden;
    backdrop-filter: blur(12px);
    opacity: 0.8;
    /* Opacidade para um efeito de transparência */
    background: radial-gradient(circle at 40% 20%, rgba(255, 59, 239, 0.3) 0%, rgba(88, 173, 194, 0.4) 60%);
    /* Gradiente para um efeito mais natural */
    z-index: -1;
}

.dots-container {
    width: 100%;
    height: 100%;

}

.div-container {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width=767px) {
    #sobre img {
        max-height: 280px;
    }

    #categorias img {
        max-height: 120px;
    }

    .dot {
        position: absolute;
        width: 5vw;
        height: 5vw;
    }

    .dots-container {
        width: 100vw;
    }

    .textop {
        color: white;
        margin-bottom: 30px;
        font-size: 18px;
    }
}