body {
    font-family: 'Roboto', sans-serif;
    background-color:  #4169e1;
}

.navbar {
    background-color: rgba(1, 66, 28, 0.3);
    backdrop-filter: blur(20px); /* Ajuste o valor do desfoque conforme necessário */
    border: 1px solid rgba(2, 15, 7, 0.3); /* Adicione uma borda opcional para destacar o efeito */
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
}

.nav .nav-link:hover {
    background-color:black;
    color: rgb(95, 206, 95);
}


.nav .nav-link {
    color: rgba(2, 15, 7, 1);
}

.navbar-brand:hover {
    color: white;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.ele {
    color: rgb(95, 206, 95);
}

.ele2 {
    color: #c52a3c;
}

.navbar-toggler {
    background-color: rgb(95, 206, 95);
}


.carousel-indicator {
    text-align: center;
}

#sobre {
    background-color:transparent;
    color: white;
    align-items: center;    
}
.pix {
    color:  rgb(2, 15, 7);
    font-family: 'Pacifico', cursive;
}

#sobre img {
    max-height: 340px;
}
.pix2 {
    color:  rgb(2, 15, 7);
}

#eventos {
    background-color: rgba(1, 66, 28, 0.3);
    backdrop-filter: blur(20px); /* Ajuste o valor do desfoque conforme necessário */
    border: 1px solid rgba(2, 15, 7, 0.3); /* Adicione uma borda opcional para destacar o efeito */
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
    color: rgb(2, 15, 7);
}

.categoriah3 {
    color: rgb(95, 206, 95);
}

.textop {
    color: white;
}

.cardcat:hover {
    background-color:rgba(1, 62, 66, 0.3);
    transform: scale(1.05);

}

#contato {
    background-color: bisque;
}

.nav-cardapio .nav-link-active {
    background-color: burlywood;
    color: white;
    border-radius: 8px;
    border-color: bisque;

}

.nav-cardapio .nav-link:hover {
    background-color: rgb(227, 248, 248);
    color:burlywood;
}

.social-links li {
    list-style: none;
    display: inline;
    justify-content: space-around;
    padding:12px;
}

.social-links a {
    text-decoration: none;
}

#contato button {
    background-color: rgba(1, 66, 28, 0.38);
}

#sl {
    margin-top: 8%;
}

.dot {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-color: rgba(177, 59, 255, 0.3);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgba(6, 228, 236, 0.2);
    overflow: hidden;
    backdrop-filter: blur(12px);
    opacity: 0.8;
    /* Opacidade para um efeito de transparência */
    background: radial-gradient(circle at 40% 20%, rgba(177, 59, 255, 0.2) 0%, rgba(88, 173, 194, 0.3) 60%);
    /* Gradiente para um efeito mais natural */
    z-index: -1;
}

.dots-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.div-container {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width= 767px) {


    
}